<link rel="stylesheet" type="text/css" href="css/about.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script src="js/script_head.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<title>About</title>

<!-- <div class="navbar">
    <a class="website_name">EdStem</a>
    <a class="active">About</a>
    <a href="/forums">Forums</a>
    <a href="/msg_window">Messages</a>
    <a class="profile" href="/profile"></a>
</div> -->
<div class="body">
    <h1>About</h1>
    <p>We're a group of threatening web-dev game changers who are commoditising opportunity pipelines and reorthogonalising boost up-sell messages before getting out of bed each day.
    <br>In our team we have: 
    <br><b>Joe User:</b> Our humble software farmer
    <br><b>Jane Admin:</b>  Our professional software horticulturist
    </p>

    <p>
    And together we're here to ${garble}
    </p>
</div>