<head>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/forums.css">
    <script src="js/script_head.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <title>Forums</title>
</head>
    
<body onload="forumsWindowOnLoad()">

    <div class="navbar">
        <a class="website_name">EdStem</a>
        <a href="/about">About</a>
        <a class="active" href="/forums">Forums</a>
        <a href="/msg_window">Messages</a>
        <div class="line"></div>
        <a class="profile" href="/profile"></a>
    </div>
        
    <div id="forumsWindow">

        <!-- 
            Forums List Container
        -->
        
        <div class="container" id="forumsContainer">
           
            <h2 class="panelLabel inter_bold">Forums</h2>
            
            <div class="addForumContainer">
                <input class="forumInputBox inputBoxStyle" id='forumTextField' type="text" placeholder="Enter forum code"/>
                <script>
                    // Allows enter to submit
                    // var recipientField = document.getElementById("forumTextField");
                    // recipientField.addEventListener("keypress", function(event) {
                    //     if (event.key === "Enter") {
                    //         addforum();
                    //         event.preventDefault();
                    //     }
                    // });
                    console.log("Attempting to add forum");
                </script>
                
                <div class="button_theme inter_bold" id="addForumButton" type="button" name="button" onclick="addForum()">+</div>
            </div>
            <p id="subscribeInfo" style="text-align: center;"></p>
            <div id="forumsList">
                <div class="forumBox container" id="forumTemplate">
                    <div>
                        <img src="/img/profile_icons/blue.png" class="forumProfileIcons">
                    </div>
                    <div class="forumText">
                        <p class="post_user inter_bold" id="forum_name"></p>
                    </div>
                </div>
            </div>

            <div class="button_theme inter_bold createForumButton" type="button" name="button" onclick='toggleOverlay("open");'>Create Forum</div>
        </div>

        <!-- 
            Post and Forum Info Container
        -->
        <div class="container postInfoContainer">
        
            <!-- Post Panel -->
            <div class="postsPanel">

                <!-- Selected Post -->
                <div id="selectedPostContainer">
                    <div id="selectedPostPanel">
                        <div>
                            <button class="button_theme leftButton backButton" onclick='viewPostPanel("all");'>Back</button>
                        </div>
                        <!-- Post title -->
                        <h2 class="panelLabel inter_bold">Is magic real? (No cap asking for friend)</h2>

                        <!-- Picture Name Timestamp -->
                        <div class="picNameTimestamp">
                            <div>
                                <img src="/img/profile_icons/blue.png" class="profileIcons">
                            </div>
                            <div>
                                <label class="post_user inter_bold">User</label>
                            </div>
                            <div>
                                <label class="post_time inter">posted 14/05/2022 4:00pm</label>
                            </div>
                        </div>

                        <!-- Post message -->
                        <div class="inter infoDesc" id="postMessage">
                            *This unit provides an integrated treatment of two critical topics for a computing professional: 
                            human computer interaction (HCI) and security. The techniques and core ideas of HCI will be studied 
                            with a particular focus on examples and case studies related to security.*
                        </div>

                        <!-- Post Comment Container -->
                        <h2 class="infoHeader inter_bold">Make a Comment</h2>
                        <div class="divPlaceholder inter inputBoxStyle" id="commentTextField" msgPlaceHolder="Write your post message" contentEditable="true"></div>
                        <div class="newPostButtons" style="width: 100%; justify-content: flex-end;">
                            <button class="button_theme rightButton" onclick='console.log("New comment");'>Post</button>
                        </div>

                        <!-- Post Comment Container -->
                        <h2 class="infoHeader inter_bold">Answers</h2>
                        <div id="commentContainer">
                            <div class="commentBox" id="commentTemplate">
                                <div class="picNameTimestamp">
                                    <div>
                                        <img src="/img/profile_icons/blue.png" class="profileIcons">
                                    </div>
                                    <div>
                                        <label class="post_user inter_bold">User</label>
                                    </div>
                                    <div>
                                        <label class="post_time inter">posted 14/05/2022 4:00pm</label>
                                    </div>
                                </div>
    
                                <div class="inter infoDesc">
                                    Bruh what you talking about?
                                </div>
                            </div>

                            <div class="commentBox" id="commentTemplate">
                                <div class="picNameTimestamp">
                                    <div>
                                        <img src="/img/profile_icons/blue.png" class="profileIcons">
                                    </div>
                                    <div>
                                        <label class="post_user inter_bold">User</label>
                                    </div>
                                    <div>
                                        <label class="post_time inter">posted 14/05/2022 4:00pm</label>
                                    </div>
                                </div>
    
                                <div class="inter infoDesc">
                                    There's the whips and by opposing end the name of resolution devoutly to be wish'd. 
                                </div>
                            </div>

                            <div class="commentBox" id="commentTemplate">
                                <div class="picNameTimestamp">
                                    <div>
                                        <img src="/img/profile_icons/blue.png" class="profileIcons">
                                    </div>
                                    <div>
                                        <label class="post_user inter_bold">User</label>
                                    </div>
                                    <div>
                                        <label class="post_time inter">posted 14/05/2022 4:00pm</label>
                                    </div>
                                </div>
    
                                <div class="inter infoDesc" style="margin-top: 10px;">
                                    To die, to sleep; to sleep to sleep: perchance to dreams may come when we have, the native hue of resolution devoutly to others that sleep of death what dream: ay, the dreams may come when he himself might his quietus makes calamity of so long a life, but that flesh is heir currents turn awry
                                </div>
                            </div>
    
                            <div class="commentBox" id="commentTemplate">
                                <div class="picNameTimestamp">
                                    <div>
                                        <img src="/img/profile_icons/blue.png" class="profileIcons">
                                    </div>
                                    <div>
                                        <label class="post_user inter_bold">User</label>
                                    </div>
                                    <div>
                                        <label class="post_time inter">posted 14/05/2022 4:00pm</label>
                                    </div>
                                </div>
    
                                <div class="inter infoDesc" style="margin-top: 10px;">
                                    Bruh what you talking about?
                                </div>
                            </div>
                        </div>
                        
                        

                        
                    </div>

                </div>
                
                <!-- New Post -->
                <div id="newPostContainer">
                    <div id="postInputContainer">
                        <h2 class="panelLabel inter_bold">New Post</h2>
                        
                        <div class="flexRowInput">
                            <h3 class="inter panelLabel infoLabel">Title</h3>
                            <input class="forumInputBox inter inputBoxStyle" id='titleField' type="text" placeholder="Enter your post's title"/>
                        </div>
    
                        <div class="flexRowInput">
                            <h3 class="inter panelLabel infoLabel">Tag</h3>
                            <div class="divPlaceholder inter forumInputBox inputBoxStyle" id='tagField' msgPlaceHolder="Enter your post's tag" contentEditable="true"></div>
                        </div>
    
                        <div class="divPlaceholder inter inputBoxStyle" id="postTextField" msgPlaceHolder="Write your post message" contentEditable="true"></div>
                        <div class="newPostButtons">
                            <!-- <div class="backButton inter_bold button_theme" onclick="returnToAllPosts()">Back</div> -->
                            <button class="button_theme leftButton" onclick='viewPostPanel("all");'>Back</button>
                            <button class="button_theme rightButton" onclick='console.log("New post");'>Post</button>
                        </div>
                    </div>
                </div>
                


                <!-- All Posts -->
                <div id="allPostContainer">
                    <div class="postListPanel" id ="postList">
                        <div class="allPostsButton">
                            <h2 class="panelLabel inter_bold">All Posts</h2>
                            <div class="button_theme inter_bold" id="newPostButton" type="button" name="button" onclick='viewPostPanel("new");'>New Post</div>
                        </div>
                        <div class="postBox container" id="postTemplate">
                            <!-- Title -->
                            <h3 class="postTitle inter_bold">Is magic real? (No cap asking for a friend)</h3>
    
                            <!-- Picture, Name and Timestamp -->
                            <div class="picNameTimestamp">
                                <div>
                                    <img src="/img/profile_icons/blue.png" class="profileIcons">
                                </div>
                                <div>
                                    <label class="post_user inter_bold">User</label>
                                </div>
                                <div>
                                    <label class="post_time inter">posted 14/05/2022 4:00pm</label>
                                </div>
                            </div>
    
                            <!-- Tags -->
                            <div class="tagList">
                                <div class="button_theme inter_bold tag_button" type="button" name="button">Guide</div>
                                <div class="button_theme inter_bold tag_button" type="button" name="button">Magic</div>
                            </div>
                            
                        </div>  
                        
                    </div>
                </div>
        
            </div>

            <div class="vertical_line"></div>

            <!-- Info Panel -->
            <div class="infoPanel">

                <div class="infoSection">
                    <h2 class="panelLabel inter_bold">*Forum Name*</h2>
    
                    <div class="inter infoDesc">
                        *This unit provides an integrated treatment of two critical topics for a computing professional: 
                        human computer interaction (HCI) and security. The techniques and core ideas of HCI will be studied 
                        with a particular focus on examples and case studies related to security.*
                    </div>

                    <div class="infoHeader inter_bold">Forum Admin:</div>
                    
                    <div class="infoBox">
                        <div>
                            <img src="/img/profile_icons/blue.png" class="forumProfileIcons">
                        </div>
                        <div class="forumText">
                            <p class="post_user inter_bold">Person A</p>
                        </div>
                    </div>

                    <div class="dateCreatedInfo inter">
                        <p>Date created:</p>
                        <p class="inter">15/05/2022 4:20pm</p>
                    </div>
                </div>
        
            </div>
        
        </div>

    </div>

    <!-- 
        Overlay
    -->

    <div id="overlay">
        <div id="overlayBody">
            <div class="container" style="background-color: white; padding-top: 20;">

                <div class="createForumsXRow">
                    <div id="createForumXBackground" onclick='toggleOverlay("close")'>
                        <img src="/img/whiteX.png" class="createForumX">
                    </div>
                </div>

                <div id="overlayContainer">
                    <h2 class="createForumLabel inter_bold">Create a forum</h2>

                <div class="flexColInput">
                    <h3 class="infoHeader inter_bold">Forum Name</h3>
                    <input class="forumInputBox inputBoxStyle" type="text" placeholder="Enter forum name"/>
                </div>

                <div class="flexColInput">
                    <h3 class="infoHeader inter_bold">Description</h3>
                    <div class="divPlaceholder inter forumInputBox inputBoxStyle" id='descField' msgPlaceHolder="Enter forum description" contentEditable="true"></div>
                </div>

                <div class="button_theme inter_bold createForumButton" type="button" name="button" onclick="createForum()">Create Forum</div>
                </div>

            </div>
        </div>
    </div>

</body>