<head>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <script src="js/script_head.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <title>Forums</title>
</head>

<div class="navBar">
    <div class="navLinks inter">
        <div class="website_name">InStem</div>
        <div >
            <a id="forumLink" href="/forums">Forums</a>
        </div>
        <div >
            <a id="messageLink" href="/msg_window">Messages</a>
        </div>
    </div>
    
    <div class="profileDiv dropdown">
        <img class="navProfile" src="/img/profile_icons/blue.png">

        <div class="logoutDiv container">
            <div class=" button_theme inter_bold logoutButton" id="loginLogoutButton">
                Log Out
            </div>
        </div>
    </div>
        
    </div>
</div>