<head>
    <link rel="stylesheet" type="text/css" href="css/temp.css">
    <script src="js/script_head.js"></script>
    <title>Home</title>

    <!-- Load Google's Open Sans Font -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">  -->
</head>
<body class="homepage_background">

    <div class="homepage">
        <h1 class="os_bold home_title">Study with confidence</h1>
        <!-- <h2 class="os">Insert second line here</h2> -->
        <h2 class="os_light">Discover a range of study tips and guides on the forums, exchange messages with your friends and get help from academic staff today!</h2>
        
        <button type="button" class="button_theme os_bold" onclick="toForums()">Explore Forums</button>
    </div>

</body>
