<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<script src="js/script_head.js"></script>

<title>Login</title>
</head>


<div class="bordered" style="text-align: center;">
    <h3>Login</h3>
    </br>
    <p style="color:red">    No such account exists.</p>
    <form name="loginForm" action="/login" method="post">
        <input class="loginRegisterTextFields" name="username" type="text" placeholder="Enter Username" style="width: 200px;" required/>
        </br>
        <input class="loginRegisterTextFields" name="password" type="password" placeholder="Enter Password" style="width: 200px;" required/>
        </br>
        </br>
        </br>
        <input class="button" value="Login" type="submit" />
        <a class="button" href="/register">Create Account</a>
        </br>
    </form>
</div>

<p></p>
