LOGIN TO YOUR ACCOUNT
</p>
<head>
<style>
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
</style>
</head>

<style>
    .bordered {
        padding: 20px;
        border: 5px solid grey;
        width: 25%;
        height: 22%;
        margin: auto;
    }
</style>

<div class="bordered">
    <div style="text-align: center;">
        <form name="loginForm" action="/login" method="post" onsubmit="return validateLogin()">
            Username: <input name="username" type="text" placeholder="Enter Username" style="width: 200px;"/>
            </br>
            Password: <input name="password" type="password" placeholder="Enter Password" style="width: 200px;"/>
            </br>
            <p style="color: red;">${reason}</p>
            <input value="Login" type="submit" />
            <a class="button" href="/register">Create Account</a>
            </br>
        </form>
    </div>
</div>

<p>
</p>
