<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<script src="js/script_head.js"></script>
<title>Login</title>
</head>


<div class="bordered" style="text-align: center;">
    <h3>Login</h3>
    </br>

    <form name="loginForm">
        <input class="loginRegisterTextFields" id="l_username" name="username" type="text" placeholder="Enter Username" style="width: 200px;" required/>
        </br>
        <input class="loginRegisterTextFields" id="l_password" name="password" type="password" placeholder="Enter Password" style="width: 200px;" required/>
        </br>
        </br>
        <label id="loginInfo"></label>
        </br>
        </br>
        <input class="button" value="Login" type="submit" onclick="loginPost(event)"/>
        <a class="button" href="/register">Create Account</a>
        </br>
    </form>
</div>

<p></p>
