<head>
<link rel="stylesheet" type="text/css" href="css/common.css">
<link rel="stylesheet" type="text/css" href="css/msg_window.css">
<script src="js/script_head.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<title>Messages</title>
</head>

<body onload="msg_window_OnLoad()"/>

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="/about">About Us</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>

<div id="msgWindow">
    <div class="container msgContainer">

        <div class="leftMsgPanel">
            <h2 class="panelLabel">Messages</h2>
            <div class="button_theme inter" id="new_message_button" type="button" name="button" onclick="viewNewMessage()">New Message</div>
            <div id="button_container">
                <div class="button_theme inter tag_button" id="all_tag" type="button" name="button" onclick="viewNewMessage()">All</div>
                <div class="button_theme inter tag_button" id="unread_tag" type="button" name="button" onclick="viewNewMessage()">Unread</div>
            </div>
            <div class="msgListPanel" id ="receivedMsgsPanel">
                <div class="messageBox container" id="messageTemplate">
                    <div>
                        <img src="/img/profile_icons/blue.png" class="profileIcons">
                    </div>
                    <div class="messageText">
                        <div class="messageFromTime">
                            <label class="msg_from">*User*</label>
                            <label class="msg_time">*Time*</label>
                        </div>
                        <label class="msg_content">*Some content*</label>
                    </div>
                </div>  
                
            </div>
    
        </div>
    
        <div class="vertical_line"></div>
    
        <div class="rightMsgPanel">
    
            <div id="msgInputContainer">
                <form id="sendMessageForm" action="/msg_window" method="post" autocomplete="off">
    
                    <div>
                        <h1 class="recipientFont inter" id="recipientError">_</h1>
                    </div>

                    <label id="senderField" class="msgFont inter_bold">From: *INSERT CURRENT USER*</label>
                    
                    <br><br>
                    <div id="toBox">
                        <label class="msgFont inter_bold" for="friendsList">To: </label>
                        <input class="msgInputBox" id='recipientField' type="text" placeholder="Enter recipients"/>
                        <script>
                            // Stops enter to submit
                            var recipientField = document.getElementById("recipientField");
                            recipientField.addEventListener("keypress", function(event) {
                                if (event.key === "Enter") {
                                    if ( !(recipientField.value === "") && !((recipientField.value).slice(-2) === "; ") ) {
                                        recipientField.value = recipientField.value + "; ";
                                    }
                                    event.preventDefault();
                                }
                            });
                        </script>
                    </div>
                    <br>

    

                    <hr>
                    <br>
    
                    <!-- <input class="msgInputBox" id="msgTextField" type="text" placeholder="Enter message"/> -->
                    <textarea class="msgTextArea" id="msgTextField" type="text" placeholder="Enter your message" rows="10" cols="5"></textarea>
    
                    <button id="msgSubmit" onclick="sendMessage(event);">Send</button>
    
                </form>
            </div>
    
            <div id="msgViewContainer">
                <div id="picNameTime">
                    <div id="picName">
                        <img src="/img/profile_icons/blue.png" id="senderProfileIcon">
                        <label class="msgSenderTitle inter" id="msgView_From">From: </label>
                    </div>
                    <div>
                        <!-- <label class="msgFont inter_bold">From: </label>  -->
                        <label class="msgFont inter" id="msgView_Time">Time: </label>
                    </div>
                </div>
                <div class="msgFont inter">
                    <!-- <label class="msgFont inter_bold">To: </label> <label class="msgFont inter" id="msgView_To"></label> -->
                    <p id="msgView_To">To:</p>
                </div>
                <hr>
                <p class="msgFont inter" id="msgView_Message">Twenty-five hours had passed since the incident. It seemed to be a lot longer than that. That twenty-five hours seemed more like a week in her mind.
                    The fact that she still was having trouble comprehending exactly what took place wasn't helping the matter. She thought if she could just get a little
                    rest the entire incident might make a little more sense.
                </p>
            </div>
    
        </div>
    
    </div>
    
    <div class="container" id="friendsContainer">
        <h2 class="panelLabel">Friend</h2>
        <div id="friendsList">
            <div class="friend container" id="friendTemplate">
                <div>
                    <img src="/img/profile_icons/blue.png" class="profileIcons friendProfileIcons">
                </div>
                <div class="friendText">
                    <p class="msg_from">*Fake Friend*</p>
                </div>
            </div>
            <div class="friend container" id="friendTemplate">
                <div>
                    <img src="/img/profile_icons/blue.png" class="profileIcons friendProfileIcons">
                </div>
                <div class="friendText">
                    <p class="msg_from">*Fake Friend*</p>
                </div>
            </div>
            <div class="friend container" id="friendTemplate">
                <div>
                    <img src="/img/profile_icons/blue.png" class="profileIcons friendProfileIcons">
                </div>
                <div class="friendText">
                    <p class="msg_from">*Fake Friend*</p>
                </div>
            </div>
            <div class="friend container" id="friendTemplate">
                <div>
                    <img src="/img/profile_icons/blue.png" class="profileIcons friendProfileIcons">
                </div>
                <div class="friendText">
                    <p class="msg_from">*Fake Friend*</p>
                </div>
            </div>
            <div class="friend container" id="friendTemplate">
                <div>
                    <img src="/img/profile_icons/blue.png" class="profileIcons friendProfileIcons">
                </div>
                <div class="friendText">
                    <p class="msg_from">*Fake Friend*</p>
                </div>
            </div>
        </div>
    </div>
</div>
