<head>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <script src="js/script_head.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <title>Register</title>
</head>

<div class="bordered" style="text-align: justify;">
    <h1>InStem</h1>
    <h3>Register</h3>
    <h4>Start your university adventure today</h4>
    </br>
    <form id="registerFormId" name="registerForm" autocomplete="off">
        <input autocomplete="false" name="hidden" type=text style="display:none;">
        <input class="username_field" id="r_username" name="username" type="text" placeholder="Enter Username" pattern="[a-z0-9]{5,15}$" title="Usernames may only contain letters and letters and must be between 5 and 15 characters" required autocomplete="new-password"/>
        </br>
        <input class="password_field" id="r_password" name="password" type="password" placeholder="Enter Password" pattern=".{8,}$" title="Passwords must be at least 8 characters long" required autocomplete="new-password"/>
        </br>
        <input class="password_re_field" id="r_reentered" name="reentered" type="password" placeholder="Re-Enter Password" required autocomplete="new-password"/>
        </br>
        </br>
        
        </br>
        <p id="registerInfo" style="text-align: center;"></p>
        <a class="login" href="/login">Already have an account?</a>
        <input class="button" value="Create Account" type="submit" onclick="registerPost(event)"/>
        </br>
    </form>
</div>


