.topnav {
    background-color: rgb(253, 250, 250);
    overflow: hidden;
    font-family: 'Inter';
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #312e2e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(50, 50, 1);
    color: black;
  }
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: rgb(50, 50, 1);
  }

.button {
    font: bold 13px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px;
    border: 1px solid black;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
}

#registerInfo {
    font: bold 13px Arial;
    color: Red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FAFCFF;
}

#navBar {
    margin: 0px;
    padding: 0px;
}

/* img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 45%;
    max-width: 45%;
} */

html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.loginRegisterTextFields {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.bordered {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px;
    width: 25%;
    margin: auto;
}

/* -----------------------------------------------------------------------------
                                Message Window
 -----------------------------------------------------------------------------*/

 /*  ------------------------------- Message Panel -------------------------------*/

#msgWindow {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 30px;
    gap: 10px;
}

#msgWindow > div {
    background-color: rgba(255, 255, 250, 0.4);
}

.msgContainer {
    flex: 4;
    display: flex;
    flex-direction: row;
    padding: 0;
}

#friendsContainer {
    flex: 1;
}


.panelLabel {
    font-size: 1.2em;
    color: #505050;
    font-family: Helvetica;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

/*  ------------ Left Panel ---------------*/
.leftMsgPanel {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.msgListPanel {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    bottom: 0;
    padding-top: 5px;
    /* border: 1px solid #dddddd; */
}

#new_message_button {
    font-size: 100%;
    /* margin-bottom: 3%; */
    width: 100%;
    height: 30px;
    padding-top: 2px;
}

#button_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tag_button {
    height: 25px;
    width: 60px;
    font-size: 0.7em;
    margin-bottom: 3%;
}

.tag_button_selected {
    height: 25px;
    width: 30%;
    display: inline;
    /* font-size: 12px; */
    margin-bottom: 3%;
}

/* --- Individual Messages --- */

.messageBox {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 10px;
}

.messageBox:focused {
    background: #bde4ff;
}

.messageBox:hover {
    background-color: #bde4ff;
    cursor: pointer;
}

#messageBoxSelected {
    background: #bde4ff;
}

.messageText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    vertical-align: middle;
    align-items: left;
    padding-top: 3px;
}

.messageFromTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#messageTemplate {
    display: none;
}

.profileIcons {
    width: 40px;
    height: 40px;
    margin: 0px;
    /* margin-right: 5px; */
}

.msg_from, .msg_time, .msg_content{
    font-family: Helvetica;
    color: #505050;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    height: 1em;
    vertical-align: center;
}

.msg_from {
    font-weight: bold;
    font-size: 16px;
}

.msg_time {
    font-size: 10px;
    text-align: right;
}

.msg_content {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
    font-size: 12px;
}

/*  ------------ Right Panel ---------------*/
.rightMsgPanel {
    flex: 4;
    margin: 20px;
}

#msgInputContainer {
    width: 100%;
}

.divPlaceholder:empty:not(:focus):before {
    content: attr(msgPlaceHolder);
    color: #626262;
}

.divPlaceholder:focus {
    color: #626262;
    border: 2px solid #6399D1;
    outline: none;
}

#msgTextField {
    padding: 10px;
    min-height: 200px;
    max-height: 500px;
    overflow: scroll;
}

#msgSubmit {
    width: 80px;
    height: 25px;
    float: right;
    margin-top: 15px;
}

#toBox {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.msgInputBox {
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.msgInputBox::placeholder {
    color: #626262;
}

.msgInputBox:focus {
    color: #626262;
    border: 2px solid #6399D1;
    outline: none;
}

.errorInputBox:focus {
    border: 2px solid #ca3e3e;
}

.successInputBox:focus {
    border: 2px solid #368d25;
}

.recipientFont {
    height: auto;
    text-align: center;
    font-size: large;
    color: white;
}

.infoError {
    /* visibility: visible; */
    background-color: #ca3e3e;
    color: #fa9696;
    font-size: large;
}

.infoSuccess {
    /* visibility: visible; */
    background-color: #368d25;
    color: #afff9f;
    font-size: large;
}

.infoInform {
    /* visibility: visible; */
    background-color: #3182c4;
    color: #96d7fd;
    font-size: large;
}



.msgTextArea {
    resize: none;
}

.msgTextArea:focus {
    color: #626262;
    border: 2px solid #6399D1;
    outline: none;
}

#picNameTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#picName {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#senderProfileIcon {
    width: 60px;
    height: 60px;
    margin: 0px;
}

.msgSenderTitle {
    font-size: 1.5em;
    color: #626262;
}

.msgFont {
    font-size: large;
    color: #626262;
}


#msgViewContainer {
    width: 100%;
    /* padding: 50px; */
    display: none;
}

.vertical_line {
    flex: 0.05;
    border-left: 1px solid #50505080;
    height: 100%;
    width: 0;
    margin-left: 10px;
    margin-right: 10px;
}

/*  ------------------------------- Friends List Panel -------------------------------*/

.addFriendContainer {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    vertical-align: middle; */
    gap: 5px;
    margin-bottom: 10px;
    /* flex: 5; */
}

#friendTextField {
    flex: 4;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0px;
    padding-left: 10px;
    font-size: 12;
}

#addFriendButton {
    flex: 1;
    width: 30px;
    height: 30px;
}

#friendsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#friendsList {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: red; */
}

.friend {
    padding: 5px 10px;
    /* width: 100%; */
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: white;
}

.friendProfileIcons {
    height: 30px;
    width: 30px;
}

.friendText > p {
    margin: 0;
}