ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 45%;
    max-width: 45%;
}

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.loginRegisterTextFields {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.bordered {
    padding: 20px;
    border: 5px solid grey;
    width: 25%;
    margin: auto;
}

/* -----------------------------------------------------------------------------
                                Message Window
 -----------------------------------------------------------------------------*/

.msgContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

/*  ------------------------------- Left Panel -------------------------------*/
.leftMsgPanel {
    height: 80%;
    width: 18%;
    color: white;
    float: left;
}

#newMsg {
    width: 100%;
    height: 5%;
    margin: 5px;
}

.receivedMsgsPanel {
    height: 100%;
    width: 100%;
    float: left;
    border: 5px solid #181818;
}

.messageOption {
    padding: 5px;
    border-top: 2px solid #181818;
    border-bottom: 2px solid #181818;
    display: flex;
    flex-direction: column;
}

.messageOption:focused {
    background: #bde4ff;
}

.messageOption:hover {
    background-color: #bde4ff;
    cursor: pointer;
}

#messageTemplate {
    /* display: none; */
}

.msg_from, .msg_subject, .msg_time {
    font-family: Helvetica;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
}

/*  ------------------------------ Right Panel -------------------------------*/
.rightMsgPanel {
    border: 5px solid #181818;
    height: 85%;
    width: 75%;
    float: right;
}

#msgInputContainer {
    width: 90%;
    padding: 50px;
    display: block;
}

#msgTextField {
    width: 100%;
    height: 30px;
    /* background-color: ORANGE; */
}

#msgSubmit {
    width: 9%;
    height: 25px;
}

.msgFont {
    font-family: Helvetica;
}


#msgViewContainer {
    width: 90%;
    padding: 50px;
    display: none;
}

/* -----------------------------------------------------------------------------
                                General
 -----------------------------------------------------------------------------*/
.button {
    font: bold 13px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px;
    border: 1px solid black;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
}
